/* Stylesheet 
 * Red = #96281B;
 * White = ffffff;
 *
 * */


.home-jumbotron {
    color:#FFFFFF;
    padding:175px 0px;
    background:transparent;
}

.header-row {
    /* background:url('../img/header.jpg') no-repeat center; */
    background:url('../img/ruins.jpg') no-repeat center;
    background-size:cover;
}

.mission-row {
    background-size:100%;
}

.mission-jumbotron {
    background:#779AC2;
    padding:150px 0px;
    color:#FFFFFF;
}

.padded-line-height {
    padding: 100px 0px;
    line-height:200%;
}

.quote-row {
    padding:50px;
    /* background:url('../img/header.jpg') no-repeat center; */
    /* background:url('../img/ruins.jpg') no-repeat center; */
    background-size:100%;
    background:#779AC2;
}

.background-transparent {
    background:transparent;
}

.p-padded {
    padding:15px 0px;
}

i {
    color:#779AC2;
}

.about-row {
    padding:50px 0;
}

.quote-p {
    color:#FFFFFF;
}
